@model Category

<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Card Details</h6>
        </div>
        <div class="card-body">
            <p>Id: @Model.Id</p>
            <p>Title: @Model.Title</p>
            <p>Created by: @Model.CreatedBy</p>
            <p>Create time: @Model.CreatedAt</p>
            @if (Model.UpdatedBy is not null)
            {
                <p>Updated by: @Model.UpdatedBy</p>
            }
            @if (Model.UpdatedAt is not null)
            {
                <p>Update time: @Model.UpdatedAt</p>
            }
        </div>
    </div>
</div>